html {
  background-color: rgb(29, 28, 31);
  color: white;
  font-family: 'IBMPlexMono';
  height: 100%;
  margin: 0;
  }

@font-face {
  font-family: 'IBMPlexMono';
  src: url('../fonts/ibm-plex-mono-latin-200-normal.ttf') format('truetype');
  font-style: normal;
}

.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body {
  height: 100%;
  width: 100%;
}

main {
  flex: 1;
  width: 95%;
}

.color {
  color: rgb(81, 245, 2);
}

h1 {
  text-align: center;
  margin-bottom: 10%;
}

.custom-map {
  background-color: rgb(81, 245, 2);
  border-radius: 25px;
}

.custom-map > p {
  color: rgb(29, 28, 31);
  font-weight: bolder;
}

.note-title {
  font-size: 20px;
}

.margin-top {
  margin-top: 2%;
}

.signature {
  margin-top: 4%;
  font-size: 20px;
}

footer {
  width: 95%;
}

a {
  width: 20%;
  height: auto;
  margin: 1%
}

img {
  width: 100%;
  height: 100%;
}

@media (max-width: 374px) {
  p {
    font-size: 12px;
  }
  .custom-map {
    width: 25%;
  }
  .custom-map > p {
    font-size: 15px;
  }
  a {
    width: 50%;
    height: auto;
    margin: 1%
  }
}

@media (min-width: 375px) and (max-width: 499px) {
  h1 {
    font-size: 40px;
  }
  p {
    font-size: 13px;
  }
  .custom-map {
    width: 22%;
  }
  .custom-map > p {
    font-size: 15px;
  }
  a {
    width: 40%;
    height: auto;
    margin: 1%
  }
}

@media (min-width: 500px) and (max-width: 767px) {
  .custom-map {
    width: 15%;
  }
  .custom-map > p {
    font-size: 20px;
  }
  a {
    width: 40%;
    height: auto;
    margin: 1%
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    font-size: 50px;
  }
  .custom-map {
    width: 10%;
  }
  a {
    width: 40%;
    height: auto;
    margin: 1%
  }
}

@media (min-width: 1024px) and (max-width: 1199px) {
  h1 {
    font-size: 50px;
  }
  .custom-map {
    width: 8%;
  }
  .custom-map > p {
    font-size: 16px;
  }
  a {
    width: 30%;
    height: auto;
    margin: 1%
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 50px;
  }
  .custom-map {
    width: 8%;
  }
  .custom-map > p {
    font-size: 16px;
  }
}
